@{
    ViewData["Title"] = "Logga in";
}

@* @model MEMORY.Models.User;
<h1>Login Page</h1>

<!--
    Template from getbootstrap
-->
<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="UserName" for ="exampleUserName" class="form-label">UserName</label>
        <input asp-for="UserName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="Passwords" for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Passwords" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> *@

    @model MEMORY.Models.User

    <div class="box">
    <form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="anvandarLosen">
            <label asp-for="UserName" class="form-label">Användarnamn</label>
            <input asp-for="UserName" class="form-control"  />
        <span asp-validation-for="UserName" class="text-danger"></span>

            
        </div>

        <div class="anvandarLosen">
            <label asp-for="Passwords" class="form-label">Lösenord</label>
            <input asp-for="Passwords" type="password" class="form-control" />
        <span asp-validation-for="Passwords" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block w-100">
            Logga in
        </button>


        <a asp-controller="User"
           asp-action="Signup"
           class="btn btn-primary btn-lg  d-block w-100">
            Skapa konto
        </a>
    </form>
</div>
    
    <style>
        .box{
            max-width:30vw;
        }
        
        .anvandarLosen{
            font-family: monospace;
        }


    </style>