@{
    ViewData["Title"] = "Skapa konto";
}

@model MEMORY.Models.User

<form asp-action="Signup" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Användarnamn</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>


    </div>

    <div class="mb-3">
        <label asp-for="Passwords" class="form-label">Lösenord</label>
        <input asp-for="Passwords" type="password" class="form-control" />
        <span asp-validation-for="Passwords" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">
        Skapa konto
    </button>

    <a asp-controller="User"
       asp-action="Login"
       class="btn btn-secondary ms-2">
        Logga in
    </a>
</form>
