

@model List<Card>
<p> Number of cards </p>
<ul>
    @foreach (Card card in Model)
    {
        if(card.IsFlipped)
        {
            <p>är flippat</p>
        }
        else
        {
            <!--kolla att det är rätt spelare, rätt spelares tur att spela-->
            @Html.ActionLink(card.Index.ToString(), "SelectCard", new { gameID = card.GameID, index = card.Index })
        }
    }
</ul>


<p>@ViewBag.noofCards</p>

<!-- generera interaktionspunkten(länkar, href) -->


<!--if(card.IsMatched)
    {
        ska inte gå att klicka på i <a href="#"></a>
    }
-->