

@model List<string>
<p> Numer of cards </p>
<ul>
    @foreach (string cards in Model)
    {
        <li><a href ="länk"> @cards</a> </li>
    }
</ul>

<p>@ViewBag.noofCards</p>

<!-- generera interaktionspunkten(länkar, href) -->