@model MEMORY.Models.GameViewModel

@{
    ViewData["Title"] = "Spelet är slut!";
}

<h1>Spelet är slut!</h1>

<p>Spelet @* i rummet <strong>@Model.Game.RoomCode</strong> *@ är över.</p> @* Om ta bort blir variablerna rätt *@

@if (!string.IsNullOrEmpty(Model.WinnerName))
{
    <p>Grattis till vinnaren: <strong>@Model.WinnerName</strong>!</p>
}
else
{
    <p>Ingen vinnare kunde hittas.</p>
}

<a href="@Url.Action("Index", "Home")">Tillbaka till startsidan</a>
