@{
    ViewData["Title"] = "Home Page";
    var user = Context.Session.GetObject<User>("currentUser") ?? new User();
}

<!--
    Det är denna vy som man kommer till efter att ha loggat in/skapat en användare
-->

<div class="text-center">
    <h1 class="display-4">Välkommen @user.UserName!</h1>
    
</div>

@* <button asp-for="Hej" asp-controller="Game" "type="button" class="btn btn-secondary">Skapa spel</button> *@
@* <button asp-for="JoinGame" asp-controller="Game" type="button" class="btn btn-secondary">Joina spel</button> *@

<div class="box">

<a asp-action="CreateGame"
   asp-controller="Game"
       class="btn-main btn-hej">
    Skapa spel
</a>

<form asp-action="JoinGame" asp-controller="Game" method="post">
    <div class="skrivfalt">
    <input name="roomCode"
           class="form-control"
           placeholder="Ange spelkod" />
    </div>
        <button type="submit" class="btn-main btn-hej">
        Joina spel
    </button>
</form>

<a asp-action="Logout"
   asp-controller="User"
       class="btn-main btn-hej"
   onclick="return confirm('Är du säker på att du vill logga ut?');">
    Logga ut
</a>

<a asp-action="DeleteAccount"
   asp-controller="User"
       class="btn-main btn-hej"
   onclick="return confirm('Är du säker på att du vill radera ditt konto?');">
    Radera konto
</a>
</div>
<style>
    .container {
        place-items: center;
    }
    .box {
        width: 30vw;
        font-family: monospace;
        align-items: center;
    }
    .skrivfalt{
        width: 100%;
    }

    .btn-main {
        width: 30vw;
        padding: 0.6rem;
        border-radius: 8px;
        text-align: center;
        font-family: monospace;
        cursor: pointer;
        transition: background-color 0.2s ease;
        display: inline-block;
        text-decoration: none;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .btn-hej {
        background-color: #c789b3;
        color: white;
        border: none;
    }

        .btn-hej:hover {
            background-color: #8E4B77;
        }


</style>







@* @Html.ActionLink(card.Index.ToString(), "SelectCard", new { gameID = card.GameID, index = card.Index }) *@


<!--
    Visa användarnamn på inloggad användare
    Visa två knappar, en för att skapa ett spel och en för att joina
-->