@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "InsertUser";
}

<h2>InsertUser</h2>
<p> Antal poster som uppdaterats: @ViewBag.antal</p>
<p>Eventuellt felmeddelande: @ViewBag.errorMessage</p>

@* <form asp-action="ChooseCard" method="post">
    <label>Ange kort (1–16):</label>
    <input type="number" name="index" min="1" max="16" required />
    <button type="submit">Välj</button>
</form> *@

